body {
    background-color: white;
    margin: 0px;
}
.title {
    position: absolute;
    top: 60px;
    left: 10px;
}
#mog {
    color: rgb(153, 228, 32);
    font-size: 30px;
    padding-left: 15px;
    margin-bottom: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}
#hub {
    color: white;
    font-size: 20px;
    padding-left: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}
header {
    background-color: #f9db89;
    height: 150px;
    position: relative;
}
header img {
    width: 100px;
    position: absolute;
    top:10px;
    left: 10px;
}
#toplinks {
    position: absolute;
    width: 400px;
    top: 60px;
    right: 10px;
}
#toplinks li{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: white ;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: #ed7d61,
}
a:hover {
    color:blue
}
.currentpage {
    color: greenyellow;
    background-color: rgba(190, 188, 188, 0.3);
    border-bottom: solid thick #b5ee44;
}



#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: block;
    top: 150px;
}